.registerPageBox {
    top: 50%;
    right: 50%;
    width: 40%;
    transform: translate(75%, 35%);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    .registerForm {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1rem;
    }
}
